/* Importando Trispace */
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap");

/* Importando Figtree */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* Importando as bases do design system */
@import url("/foundations.css");

/* Estilos dos componentes */
@import url("/components.css");

:root {
  /* COLORS */

  --background-highlight: #5d00ff;
  --background-highlight2: #eaff00;
  --background-highlight3: #ff2600;
  --accent-color: #eaff00;

  /* TYPOGRAPHY */

  --font-family-primary: "Figtree", sans-serif;
  --font-family-secondary: "Trispace", mono;
  --font-size-base: 14px;
  --label-size-base: 16px;
  --font-size-heading: 8rem;
  --font-size-subheading: 3.5rem;
  --label-text-hover: #e6e6e6;
  --label-text-active: #fff;

  /* LIGHT MODE VARIABLES */

  --background-color-light: #e6e6e6;
  --surface-color-primary-light: #f2efef;
  --surface-color-secondary-light: #ffffff;
  --toggle-light: rgb(255, 255, 255);
  --line-light: #d6d6d6;
  --dot-light: hsla(230, 25%, 75%, 1);
  --text-primary-light: rgb(51, 51, 52);
  --text-secondary-light: #999999;
  --text-subtle-light: #141414;
  --label-text-light: #999999;

  /* DARK MODE VARIABLES */

  --background-color-dark: #000000;
  --surface-color-primary-dark: #0c0c0c;
  --surface-color-secondary-dark: #141414;
  --toggle-dark: #333;
  --line-dark: #121212;
  --dot-dark: #5c5c5c;
  --text-primary-dark: #b8b8b8;
  --text-secondary-dark: #5c5c5c;
  --text-subtle-dark: hsla(240, 60%, 95%, 0.15);
  --label-text-dark: #333;

  color-scheme: light;

  /* COORDINATES */

  --x: 50%;
  --y: 50%;

  /* ICONS */

  --icon-s: 24px;
  --icon-m: 32px;
  --icon-l: 48px;
  --icon-xl: 56px;
  --icon-2xl: 64px;

  /* SPACING */

  --space-2xs: 4px;
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 40px;
  --space-xl: 56px;

  /* BREAKPOINTS */

  --breakpoint-s: 480px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;

  /* BORDER RADIUS */

  --radius-2xs: 4px;
  --radius-xs: 8px;
  --radius-s: 12px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;
  --radius-2xl: 40px;
  --radius-3xl: 48px;
  --pill: 999px;
}

html {
  --surface-color-primary: var(--surface-color-primary-light);
  --surface-color-secondary: var(--surface-color-secondary-light);
  --background-color: var(--background-color-light);
  --toggle-color: var(--toggle-light);
  --line-color: var(--line-light);
  --dot-color: var(--dot-light);
  --text-color-primary: var(--text-primary-light);
  --text-color-secondary: var(--text-secondary-light);
  --text-color-subtle: var(--text-subtle-light);
  --label-text: var(--label-text-light);
}

html.dark {
  color-scheme: dark;
  --surface-color-primary: var(--surface-color-primary-dark);
  --surface-color-secondary: var(--surface-color-secondary-dark);
  --background-color: var(--background-color-dark);
  --toggle-color: var(--toggle-dark);
  --line-color: var(--line-dark);
  --dot-color: var(--dot-dark);
  --text-color-primary: var(--text-primary-dark);
  --text-color-secondary: var(--text-secondary-dark);
  --text-color-subtle: var(--text-subtle-dark);
  --label-text: var(--label-text-dark);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background: var(--background-color);
  gap: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
  color: var(--text-color-primary);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

p {
  color: var(--text-color-secondary);
  text-align: center;
  line-height: 140%;
  font-family: var(--font-family-primary);
}

.nav-link {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  padding: 8px 16px;
  color: var(--label-text);
  letter-spacing: -1px;
  border-radius: 100px;
  overflow: hidden;
  background-color: transparent;
  text-decoration: none;
  z-index: 1;
}

.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--surface-color-secondary);
  border-radius: 100px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link:hover {
  color: var(--) !important;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color-secondary);
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.icon-md {
  width: var(--icon-l);
  height: var(--icon-l);
  fill: currentColor;
  color: var(--label-highlight);
}

.subnav a[aria-current="page"] {
  color: var(--label-text-active) !important;
  border-bottom: 2px solid var(--label-highlight);
}

.search-wrapper {
  font-family: var(--font-family-primary);
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--line-color);
  border-radius: 12px;
  padding: 8px;
  max-width: 400px;
}

.search-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #ccc;
  font-size: 16px;
  font-family: inherit;
}

.search-wrapper input::placeholder {
  color: var(--text-color-subtle);
}

.shortcut {
  background-color: var(--surface-color-primary);
  color: #aaa;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 8px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

summary {
  font-family: var(--font-family-secondary);
  color: var(--text-color-subtle);
  letter-spacing: -1px;
  font-size: 16px;
  cursor: pointer;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding: 24px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-right: 1px solid var(--line-color);
}

.logo {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.svg-logo {
  width: 120px;
}
.svg-logo path {
  fill: var(--text-color-primary) !important;
}

.badge {
  padding: 4px;
  font-family: var(--font-family-secondary);
  font-size: 10px;
  font-weight: 600;
  color: var(--text-primary-light);
  letter-spacing: -1px;
  background-color: var(--background-highlight2);
  border-radius: 4px;
}

.logo img {
  width: 100%;
  height: auto;
  max-height: 24px;
}

.theme-selector {
  color: var(--text-color-primary);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 8px;
  border-bottom: 1px solid var(--line-color);
}

#themeSelector {
  padding: 8px;
  color: var(--text-color-primary);
  font-size: 16px;
  border: 1px solid var(--line-color);
  background-color: transparent;
  cursor: pointer;
}

#themeSelector:focus {
  outline: none;
  border-color: var(--color-primary-500, ui#ff8d1b);
  box-shadow: 0 0 0 2px rgba(51, 153, 255, 0.3);
}
.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
  padding: 24px;
  box-sizing: border-box;
}

.content-header .subnav {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
}

.content-header .subnav a:hover {
  color: var(--label-highlight);
}

.content-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  justify-content: center;
  align-items: left;
}

.hero h1 {
  font-size: 120px;
  width: 60%;
  line-height: 100%;
  color: var(--text-color-primary);
  padding-bottom: 56px;
}

.hero p {
  color: var(--text-color-secondary);
  font-size: 24px;
  text-align: left;
}

.main-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-nav ul li {
  margin: 0px;
  display: flex;
  margin-bottom: 8px;
}

.main-nav ul li a:hover {
  color: var(--label-highlight);
}
.menu-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--text-color-secondary);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  text-align: left;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-toggle::after {
  content: "▸";
  float: right;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.menu-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.submenu {
  display: none;
  padding-left: 1rem;
  padding-top: 16px;
}

.submenu li {
  margin-bottom: 0.5rem;
}

.submenu li a {
  color: var(--text-color-secondary);
}

.menu-group.open .submenu {
  display: block;
}

.title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 48px 0 0 48px;
}

.title-section p {
  text-align: left;
}

.content-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
  padding: 48px;
  box-sizing: border-box;
}

.card {
  padding: 8px;
  width: 100%;
  max-width: 500px;
  background-color: var(--surface-color-primary);
  border: 1px solid var(--line-color);
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-primary);
  color: var(--primary-color);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card-content h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--text-color-primary);
}

.card-content p {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  color: var(--text-color-secondary);
}

@keyframes reveal-in {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(150% at var(--x) var(--y));
  }
}

@keyframes reveal-out {
  from {
    clip-path: circle(150% at var(--x) var(--y));
  }
  to {
    clip-path: circle(0% at var(--x) var(--y));
  }
}

::view-transition-new(root) {
  animation: reveal-in 0.5s ease-in-out forwards;
  z-index: 1;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: reveal-out 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  z-index: 0;
  mix-blend-mode: normal;
}

::view-transition-image-pair(root) {
  isolation: isolate;
}

.toggle {
  top: 12px;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  cursor: pointer;
  z-index: 10;
}

.toggle input {
  display: none;
}

.toggle input + div {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: inset 16px -16px 0 0 var(--toggle-color);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.toggle input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  background: light-dark(transparent, var(--toggle-color));
  transition: background 0.3s ease;
}

.toggle input + div:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 var(--toggle-color), 0 23px 0 var(--toggle-color),
    23px 0 0 var(--toggle-color), -23px 0 0 var(--toggle-color),
    15px 15px 0 var(--toggle-color), -15px 15px 0 var(--toggle-color),
    15px -15px 0 var(--toggle-color), -15px -15px 0 var(--toggle-color);
  transform: scale(0);
  transition: all 0.3s ease;
}

.toggle input:checked + div {
  box-shadow: inset 32px -32px 0 0 var(--background-color);
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.toggle input:checked + div:before {
  background: var(--toggle-color);
  transition: background 0.3s ease 0.1s;
}

.toggle input:checked + div:after {
  transform: scale(1.5);
  transition: transform 0.5s ease 0.15s;
}

.ds-link-button {
  display: inline-block;
  align-self: flex-start;
  margin-top: 32px;
  padding: 8px 16px;
  background-color: #5d00ff;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.ds-link-button:hover {
  background-color: #3c00c2;
}

.section-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 48px;
  border-top: 1px solid var(--line-color);
  font-family: var(--font-family-secondary);
}

/* .section-nav a {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #eaff00;
  text-decoration: none;
  padding: 12px 32px;
  display: inline-block;

  border-radius: 12px;
}

.section-nav a:hover {
  color: #e3f707;
  background-color: #121212;
} */

.section-nav a {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  padding: 8px 16px;
  color: var(--label-text);
  letter-spacing: -1px;
  border-radius: 100px;
  overflow: hidden;
  background-color: transparent;
  text-decoration: none;
  z-index: 1;
}

.section-nav a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--surface-color-secondary);
  border-radius: 100px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
}

/*  */
.section-nav a:hover::before {
  transform: scaleX(1);
}

.section-nav a:hover {
  color: var(--label-text-highlight);
}
